.auth-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-button a {
  border: 1px solid #fff;
  height: 30px;
  width: 100px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .add_to_whisper {
  position: relative;
} */
@media only screen and (max-width:600px) {
  .add-to-whisper {
    margin-bottom: 30px;
    
  }
}
