header {
  background-color: #27374D;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  
} 

.home img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

nav {
  width: 70%;
}

 nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
   margin-left: 20px;

}



nav ul li:first-child {
  margin-left: 0;
}

.list-view {
  display: none;
 
}


.smaller-screen {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-left: 20px;

}

.smaller-screen div li {
  margin-bottom: 50px;
}

.smaller-screen .cancel {
  margin-right: 30px;
}

.signout-button {
  background: none;
  border: none;
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  cursor: pointer;
}


@media only screen and (max-width: 600px) {
  .header-container {
    
    padding: 0 20px;
    
  }

  .signout-button {
    margin-left: 0;
    padding-left: 0;
  
  }

  nav ul {
    display: none;
  }

  .list-view {
    display: block;
   
  }
  
  nav {
  
    width: 8%;
  
  }
}