header {
  background-color: #27374D;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  color: #fff;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

nav {
  width: 70%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
   margin-left: 20px;

}

nav ul li:first-child {
  margin-left: 0;
}